<h1><%=@patient.name%></h1>
<hr>
<h3>Appointments;</h3>
<ol>
<%@patient.appointments.each do |a|%>
    <li>
        <h3><%=a.appointment_time%></h3>
        <h3><%=link_to a.doctor.name, a.doctor%></h3>
    </li>
<%end%>
</ol>